[submodule "Spark/Extern/spdlog/spdlog"]
	path = Spark/Extern/spdlog/spdlog
	url = https://github.com/Quanwei1992/spdlog.git
[submodule "Spark/Extern/glfw/glfw"]
	path = Spark/Extern/glfw/glfw
	url = https://github.com/Quanwei1992/glfw.git
[submodule "Spark/Extern/glm/glm"]
	path = Spark/Extern/glm/glm
	url = https://github.com/Quanwei1992/glm.git
